.home-page__ctn{
    height: 100%;
    display: grid;
    padding: 10px;
    place-content: center;
    grid-template-columns: minmax(0 ,700px);
}

.home-page__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0px #838383;

}

.home-page__main > .home-page__header{
    font-size: 20px;
    width: 100%;
    padding:  5px 0;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #838383 ;
}

.home-page__content{
    flex: 1 0 0 ;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    width: 100%;
    padding: 10px ;
}
 
.home-page__aside > h2{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 500;
}

.home-page__aside > ul{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.home-page__aside > ul > li > button{
    background-color: #33d779;
    border-radius: 5px;
    padding: 7px 10px;
    width: 100%;
    max-width: 200px;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s ease-in-out; 
}


.home-page__aside > ul > li > button:hover{
    background-color: #20b560;
}
.display{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    aspect-ratio:9/16 ;
}

.display > img{
    max-height: calc(100vh - 300px);
}

.display >  .loading{
    height: 100vh;
    max-height: calc(100vh - 300px);
    aspect-ratio:9/16 ;
    animation: loadingDisplay 1s infinite ease-in-out alternate;
}

.display > a{
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid #33d779;
    background-color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.display > a:hover{
    background-color: #33d779;
    color: #fff;
}



@keyframes loadingDisplay {
    0% {
        background-color: rgb(248, 248, 248);
    }
    100% {
        background-color: #ebebeb;
    
    }
    
}

@media only screen and (max-width : 520px){
    .home-page__ctn{
        display: block;
        padding: 0;
    }
    .home-page__main{
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .home-page__content{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .home-page__aside{
        text-align: center;
    }
    .home-page__aside > h2{
        font-size: 16px;
    }
    .home-page__aside > ul{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5px;
    }

    .display{
        flex-grow: 1;
    }
    .display > img {
        max-height: calc(100vh - 300px);
        width: auto;
    }
}