html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 ;
}

ul, li {
  list-style: none;
}

button{
  border: none;
  cursor: pointer;
}

button:focus-visible{
  outline: none;
}

#root{
    height: 100vh;
    background: linear-gradient(0deg, #09cc8b 0%, #68fb88 100%);

}